@import "tailwindcss";

:root {
  /* TU WPISUJEMY KONKRETNE WARTOŚCI STARTOWE */
  --accent-main: #bc13fe;
  --accent-glow: rgba(188, 19, 254, 0.4);
  --accent-glow-strong: rgba(188, 19, 254, 0.2);
  --background: #09090b;
  --foreground: #ffffff;
}

@theme {
  --color-accent: var(--accent-main);
  --color-accent-glow: var(--accent-glow);
  --shadow-accent-glow: 0 0 20px var(--accent-glow);
}

a, button, [role="button"] {
  cursor: none !important;
}

.social-sidebar-panel {
  cursor: none !important;
}

body {
  cursor: none;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}


/* Customowy scrollbar - reaguje na zmiany */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  margin: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: var(--accent-main);
  border-radius: 10px;
}
